body {
    background-color: #E7E7E7;
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: minmax(min-content, max-content) repeat(3, 1fr); */
    grid-column-gap: 3px;
    grid-row-gap: 10px;
    grid-auto-rows: minmax(min-content, max-content);
    /* margin: auto; */
    width: min(50%, 700px);
    font-family: 'Lato';

    /* horizontally and vertically align */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.parent img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

#searchbox {
    width: 100%;
    height: 4%;
    border: none;
    border-radius: 2px;
    outline: none;
    text-align: center;
    background-color: white;
    color: #333;
    /*font-size: 15px;*/
    font-family: 'Lato';
    display: block;
    margin-top: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.over {
    z-index: 1;
    margin: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: min(3vw, 36px);
}

.header {
    grid-area: 1 / 1 / 2 / 4;
}

.cat1 {
    grid-area: 2 / 1 / 3 / 2;
    text-align: center;
    background-color: #9EC3E3;
    color: white;
    font-style: italic;
    padding: 7px;
    border: 2px solid #9EC3E3;
    outline: 2px solid #fff;
    outline-offset: -5px;
    font-size: min(1.25vw, 16px);
}

.cat2 {
    grid-area: 2 / 2 / 3 / 3;
    text-align: center;
    background-color: #E39EC3;
    font-style: italic;
    color: white;
    padding: 7px;
    border: 2px solid #E39EC3;
    outline: 2px solid #fff;
    outline-offset: -5px;
    font-size: min(1.25vw, 16px);
}

.cat3 {
    grid-area: 2 / 3 / 3 / 4;
    text-align: center;
    background-color: #C3E39E;
    font-style: italic;
    color: white;
    padding: 7px;
    border: 2px solid #C3E39E;
    outline: 2px solid #fff;
    outline-offset: -5px;
    font-size: min(1.25vw, 16px);
}

.link {
    font-size: min(1.25vw, 16px);
    text-align: center;
}
